<h1>Chats#show</h1>
<p>Find me in app/views/chats/show.html.erb</p>


<h3>メッセージ一覧</h3>
 <div class="messages">
   <% @messages.each do |message|%>
     <%= "#{message.user.name}: #{message.body}"%>
     <%if message.image.present?%>
       <%= image_tag message.image&.url%>
     <%end%>
     <br>
   <%end%>
 </div>

<h3>メッセージフォーム</h3>

<%= form_for [@chat, Message.new] do |f|%>

  <%= f.label :body%>
  <%= f.text_area :body%>
  <%= f.file_field :image%>

  <%= f.label :日付 %>
  <%= f.text_field :limit_date, :class => 'datepicker' %>
  <%= f.submit '送信'%>
<%end%>

